<% provide(:title, 'About') %>

<body>
    <div class="home_container">
      <div class="jumbotron">
        <h1> About BeerCellar</h1>
        <p> BeerCellar was created as part of a class project for students at <a href="https://generalassemb.ly/atlanta">General Assembly WDI</a>. The goal was to create a simple, but beautiful web app that could search information on breweries and beer, to which the user could then add to their Cellar. In this way, users could keep track of beers that they had in their possession or beers that they wanted to try. The result of this project is what you see before you--BeerCellar. This web application will always be free and never have any advertising of any sort. Lastly-- Always remember to drink good beer!</p><br />
        <h3> Read about future updates <a href="/updates">here.</a></h3>
      </div>
    </div>
</body>