
<% provide(:title, 'About') %>

<body>
  <center>
    <h1> About BeerCellar</h1>
    <p> BeerCellar was created as part of a class project for students at <a href="https://generalassemb.ly/atlanta">General Assembly WDI</a>. The goal was to create a simple, but beautiful web app that could search information on breweries and beer, to which the user could then add to their Cellar. In this way, users could keep track of beers that they had in their possession or beers that they wanted to try. The result of this project is what you see before you--BeerCellar. BeerCellar proudly uses <a href="http://www.brewerydb.com">BreweryDB</a> API. This web application will always be free and never have any advertising of any sort. Lastly-- Always remember to drink good beer!</p><br />
    <h3> Updates coming to BeerCellar:</h3>
    <h4> -Improved search functionality. Fixing any bugs and errors with searching.</h4>
    <h4> -Reviews/Rating system. Users will be able to assign a 100pt rating to beers in their cellar and and add reviews to beers they have tried. All ratings/reviews will be tracked in the user profile.</h4> 
    <h4> -Forums and discussion boards!</h4>
    <h4> -Improved layout</h4>
  </center>
</body>
