
<% provide(:title, 'Contact') %>

<div class="home_container">
  <div class="back">
    <div class="jumbotron">
      <div class="welcome_container">
        <h1> Contact </h1>
        <p>You can view the developer's GitHub page <a href="http://www.github.com/sabsowitz">here</a>.</p>
        <br />
        <p>You can email the developer <a href="mailto:sabsowitz@yahoo.com">here</a>.</p>
      </div>
    </div>
  </div>
</div>