
<% provide(:title, 'Contact') %>

<!-- <img src="/assets/orpheus.jpg" id="home_background"> -->

<div class="home_container">
  <div class="back">
    <div class="jumbotron">
      <div class="welcome_container">
        <h1> Contact </h1>
        <p> This is the contact page for the BeerCellar application.</p>
      </div>
    </div>
  </div>
</div>