<% provide(:title, 'Help') %>

<body>
  <center>
    <h1> BeerCellar Help/FAQ</h1>
    <p> The Help/FAQ page is still under development. Feel free to contact the email the developer <a href="mailt:sabsowitz@yahoo.com">here</a>.
    </p>
  </center>
</body>
