
<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title>BeerCellar | <%= yield(:title) %></title>
  </head> 
<body>
  <h1> Help/FAQ</h1>
  <p> This is the help page for the BeerCellar application.</p>
</body>
</html>