<% provide(:title, 'Help') %>

<img src="/assets/orpheus.jpg" id="home_background">

<div class="home_container">
  <div class="back">
    <div class="jumbotron">
      <div class="welcome_container">
        <h1> BeerCellar Help/FAQ</h1>
        <p> The Help/FAQ page is still under development. Feel free to contact the email the developer <a href="mailt:sabsowitz@yahoo.com">here</a>.
        </p>
      </div>
    </div>
  </div>
</div>