
<% provide(:title, 'Home') %>
<div class="background">
    <div class="body">
        <h2> This is the homepage for the BeerCellar application.</h2><br />
        <%= link_to "Sign up for BeerCellar now!", signup_path, class: "btn btn-large btn-primary" %>
    </div>
</div>