<% provide(:title, 'Home') %>

<div class ="welcome">
    <h1>BeerCellar</h1>
    <h2>Great People Drink Great Beer!</h2>
    <br />
    <%= link_to "Sign up!", signup_path, class: "btn btn-large btn-default" %>
    <%= link_to "Sign In!", signin_path, class: "btn btn-large btn-default" %>
    <br />
</div>