
<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>BeerCellar | <%= yield(:title) %></title>
  </head> 
<body>
  <h1> Welcome to BeerCellar!</h1>
  <p> This is the homepage for the BeerCellar application.</p>
</body>
</html>