<% provide(:title, 'Home') %>

<body>
  <div class="home_container">
    <div class="back">
      <div class="jumbotron">
        <div class="welcome_container">
          <h1>BeerCellar</h1>
          <h2>Great People Drink Great Beer!</h2>

          <br />
          <%= link_to "Sign up!", signup_path, class: "btn btn-large btn-default" %>
          <%= link_to "Sign In!", signin_path, class: "btn btn-large btn-default" %>
          <br />
        </div>
      </div>
    </div>
  </div>
</body>