<%= form_for(@cellar) do |f| %>

<br />
<center>
    <div>
      <p>Title:</p><%= f.text_field :title %>
    </div>
    <br />
    
    <div>
      <%= f.submit 'Save' %>
    </div>
  <% end %>
</center>