<% provide(:title, "Cellars") %>

<table class="table table-bordered">
  <tr>
    <th>Cellar Name</th>
    <th colspan="2" th class="text-center">Actions</th>
    <% @cellars.each do | cellar | %>
  <tr>
    <td><%= cellar.title %> </td>
    <td class="button-cell text-center"><%= link_to 'Show',cellar_path(cellar) %></td>
    <td class="button-cell text-center"><%= link_to "delete", cellar, method: :delete, data: { confirm: "Are you sure?" } %>
    </td>
  </tr>
  <% end %>
</table>
</div>
<br />
<center><%= link_to "Search for Beers", beers_path, class: "btn btn-large btn-default" %></center><br />

