<% provide(:title, "My Cellar") %>

<div class="cellar">
  <center>
    <h1>My Cellar</h1>

    <ul>
      <% @cellars.each do | cellar | %>
        <li><%= cellar.title %>, <%= link_to "delete", cellar, method: :delete, data: { confirm: "Are you sure?" } %></li>
      <% end %>
    </ul>
    
  <center>
</div>
