<% provide(:title, @user.name) %>

<body>
  <div class="jumbotron">
      <h1><%= @user.name %></h1>
      <h2>Profile</h2>
      <br />
    <center>
      <%= link_to "Go To Cellars", cellars_path, class: "btn btn-large btn-default" %><br />
      <%= link_to "Search for Beers", beers_path, class: "btn btn-large btn-default" %><br />
    </center>
  </div>
</body>