@import url(http://fonts.googleapis.com/css?family=Lora:400,700);
@import 'bootstrap';

body {
    background-image: url("/assets/black_note.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



