@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Lora);

body {
    background-image: url("/assets/black_note.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.welcome h1 {
  padding-top: 16%;
  font-family: 'Lora', serif;
  font-size: 60px;
  color: white;
  font-weight: 700;
  text-align: center;
  text-shadow: 4px 4px 4px black;
}

