@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Pacifico|Didact+Gothic);

.btn {
  border-radius: 100px;
}

#home_background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.home_container {
  min-width: 100%;
  min-height: 100%;

}

.jumbotron {
  width: 50%;
  background-color: grey;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
}

.welcome_container {
  font-family: 'Pacifico';
  font-weight: 400;
  color: white;
  text-align: center;

}
